<header class="nav-panel">
    <a href="/" class="nav-link">Главная</a>
    <a href="/news/:id" class="nav-link">Новости</a>
    <a href="/about" class="nav-link">О нас</a>
    <a href="/shop" class="nav-link">Магазин</a>
    <a href="/" class="teg-lyb">artath</a>
</header>
<%- include ('top-bar-nolog.ejs'); -%>