<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="veiwprot" content="width=divace-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Заголовок
        </title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <%- include ('block/header'); -%>
        <div class="about-text">
            <div class="about-enter">
            <h1>
            ххх
            </h1>
            </div>
        <p>
            ХЭЭЭЭЭ
            Об этом
        </p>
        </div>
    </body>
</html>