<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="veiwprot" content="width=divace-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Заголовок
        </title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <%- include ('block/header'); -%>
        <div class="test"><h1>
            404
        </h1>
        <p>
            ТЫ ЧЕ БЫДЛО
        </p>
        <p>
            <a class="back" href="/index">СЮДА БЫСТРО</a>    
        </p>
        </div>
    </body>
</html>