* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    padding-left: 100px;
    display: block;
    color: #000;
    text-decoration: none;
}

/* Навигационная панель */
header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 52px;
    background-color: rgb(160, 118, 63);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-image: url(/public/data/books.jpg);
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    transition: height .2s ease;
}

header > .nav-link {
    flex-direction:column;
    flex-wrap: nowrap;
    align-items: center;
    display: block;
    height: inherit;
    position: inherit;
    padding: 4px 7px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(160, 118, 63, 0.568) ;
    transition: background-color .5s ease;
}

header > .nav-link:hover {
    color: rgb(0, 0, 0);
    background-color:rgb(168, 127, 73) ;
}
.teg-lyb{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}
/* Навигационная панель */

/* Топ бар поиск и вход регистрации пользователя*/

.top-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 47px;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    transition: height .4s 0.1s ease;
    
}
.top-bar:hover{
    height: 70px;
    padding-top: 4px;
    transition: height .4s 0.1s ease;
}
.top-bar > .top-bar-menu{
    position: inherit;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-size: 40px;
    background-color: lawngreen;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 3px;
}
.top-bar > .top-bar-menu:hover{
    background-color: rgb(93, 187, 0);
}
/* Топ бар поиск и вход регистрации пользователя*/
body {
    background-color: aqua;
}

.block {
    text-align: center;
    width: 70%;
    margin-left: 15%;
}
h1{
    color: black;
    font-size:3em;
}
.test{
    text-align:center;
    font-size: 24px;
}
.back{
    text-decoration:black;
    color: green;
}

.head-spot{
    background-color: rgb(30, 77, 92);
    height: 31px;
    position: absolute; 
    top: 0px;
    left: 0px;
    right: 0px;
    padding-top: 9px;
    padding-left: 7px;
    box-shadow:0 0 10px rgb(14, 53, 66);
}
.about-text{
    text-align: center;
    width: 70%;
    margin-left: 15%;
}
.about-enter{
    text-align:center;
    font-size: 24px;
}
.index-text{
    text-align:center;
    font-size: 24px;
}